# Final Year Project

In [9]:
# importing libraries
import requests
import os
import shutil
import pandas as pd

In [10]:
# Data scrapped from the range of years 
years = list(range(2003,2022))

In [11]:
from bs4 import BeautifulSoup

# Main Datasets

Playoff_data is taken from https://github.com/trustinyoon/2020-NBA-Chip-Predictor this dataset gives us the stats for the off season or you can call it the playoffs.

predict.csv is taken from http://basketball-reference.com/ which is web scrapped by me. This dataset gives us stats from the regular season where teams compete to qualify for the playoffs.

# Load Dataset

In [12]:
chip = pd.read_csv("predict.csv")
chip

,Unnamed: 0,Tm,W,L,W/L%,PW,PL,ORtg,DRtg,NRtg,...,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 20,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Year
0,0,San Antonio Spurs,16.0,8.0,0.667,17,7,103.7,97.7,6.0,...,0.476,14.4,28.6,0.284,NaN,0.439,14.0,73.4,0.216,2003
1,1,New Jersey Nets,14.0,6.0,0.700,12,8,102.6,98.9,3.7,...,0.453,14.1,30.9,0.256,NaN,0.464,14.8,76.7,0.252,2003
2,2,Sacramento Kings,7.0,5.0,0.583,7,5,112.0,109.6,2.4,...,0.499,12.0,29.3,0.265,NaN,0.495,12.7,70.7,0.216,2003
3,3,Portland Trail Blazers,3.0,4.0,0.429,4,3,115.2,114.1,1.1,...,0.501,13.0,36.3,0.280,NaN,0.507,11.1,72.7,0.228,2003
4,4,Detroit Pistons,8.0,9.0,0.471,9,8,102.7,101.7,1.0,...,0.455,13.3,25.5,0.308,NaN,0.459,14.8,70.6,0.253,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,11,Utah Jazz,2.0,4.0,0.333,2,4,108.8,115.0,-6.2,...,0.495,11.5,22.8,0.264,NaN,0.540,8.7,85.5,0.217,2022
316,12,Denver Nuggets,1.0,4.0,0.200,1,4,113.6,121.8,-8.2,...,0.543,14.9,28.0,0.242,NaN,0.608,12.2,81.4,0.230,2022
317,13,Toronto Raptors,2.0,4.0,0.333,2,4,111.2,120.2,-9.0,...,0.503,9.5,23.0,0.194,NaN,0.576,14.0,76.7,0.275,2022
318,14,Atlanta Hawks,1.0,4.0,0.200,1,4,102.3,114.9,-12.6,...,0.513,15.7,21.3,0.220,NaN,0.542,12.2,79.0,0.194,2022
319,15,Chicago Bulls,1.0,4.0,0.200,1,4,94.9,109.4,-14.5,...,0.461,11.9,15.8,0.133,NaN,0.553,13.9,81.4,0.170,2022

# Clean DataSet

In [13]:
chip.columns

Index(['Unnamed: 0', 'Tm', 'W', 'L', 'W/L%', 'PW', 'PL', 'ORtg', 'DRtg',
       'NRtg', 'Pace', 'FTr', '3PAr', 'TS%', 'Unnamed: 15', 'eFG%', 'TOV%',
       'ORB%', 'FT/FGA', 'Unnamed: 20', 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',
       'Year'],
      dtype='object')

In [14]:
chip = chip[chip["Tm"] != 'League Average']
del chip["Unnamed: 20"]
chip

,Unnamed: 0,Tm,W,L,W/L%,PW,PL,ORtg,DRtg,NRtg,...,Unnamed: 15,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Year
0,0,San Antonio Spurs,16.0,8.0,0.667,17,7,103.7,97.7,6.0,...,NaN,0.476,14.4,28.6,0.284,0.439,14.0,73.4,0.216,2003
1,1,New Jersey Nets,14.0,6.0,0.700,12,8,102.6,98.9,3.7,...,NaN,0.453,14.1,30.9,0.256,0.464,14.8,76.7,0.252,2003
2,2,Sacramento Kings,7.0,5.0,0.583,7,5,112.0,109.6,2.4,...,NaN,0.499,12.0,29.3,0.265,0.495,12.7,70.7,0.216,2003
3,3,Portland Trail Blazers,3.0,4.0,0.429,4,3,115.2,114.1,1.1,...,NaN,0.501,13.0,36.3,0.280,0.507,11.1,72.7,0.228,2003
4,4,Detroit Pistons,8.0,9.0,0.471,9,8,102.7,101.7,1.0,...,NaN,0.455,13.3,25.5,0.308,0.459,14.8,70.6,0.253,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,11,Utah Jazz,2.0,4.0,0.333,2,4,108.8,115.0,-6.2,...,NaN,0.495,11.5,22.8,0.264,0.540,8.7,85.5,0.217,2022
316,12,Denver Nuggets,1.0,4.0,0.200,1,4,113.6,121.8,-8.2,...,NaN,0.543,14.9,28.0,0.242,0.608,12.2,81.4,0.230,2022
317,13,Toronto Raptors,2.0,4.0,0.333,2,4,111.2,120.2,-9.0,...,NaN,0.503,9.5,23.0,0.194,0.576,14.0,76.7,0.275,2022
318,14,Atlanta Hawks,1.0,4.0,0.200,1,4,102.3,114.9,-12.6,...,NaN,0.513,15.7,21.3,0.220,0.542,12.2,79.0,0.194,2022
319,15,Chicago Bulls,1.0,4.0,0.200,1,4,94.9,109.4,-14.5,...,NaN,0.461,11.9,15.8,0.133,0.553,13.9,81.4,0.170,2022

In [15]:
playoff_data = pd.read_csv("playoffs.csv")
playoff_data

,Unnamed: 0,Rk,Team,Year,Playoff Wins,MP,FG,FGA,FG%,3P,...,SRS,ORtg,DRtg,Pace,eFG%,TOV%,ORB%,eFG%.1,DRB%,FT/FGA.1
0,0,1.0,San Antonio Spurs,2003,16.0,14,16,27,4,11,...,3,7,3,20,4,24,13,2,17,3
1,1,2.0,New Jersey Nets,2003,14.0,26,17,18,14,23,...,4,18,1,11,21,16,14,4,6,14
2,2,3.0,Dallas Mavericks,2003,10.0,24,3,2,7,2,...,1,1,9,7,3,1,27,15,19,10
3,3,4.0,Detroit Pistons,2003,8.0,5,26,28,24,6,...,5,15,4,29,14,9,24,5,1,15
4,4,5.0,Sacramento Kings,2003,7.0,14,1,1,3,7,...,2,6,2,1,2,6,26,1,21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,289,NaN,Portland Trail Blazers,2020,NaN,5,8,6,15,11,...,18,10,27,12,16,4,19,14,27,17
290,290,NaN,New Orleans Pelicans,2020,NaN,20,4,1,13,3,...,14,15,18,2,7,27,5,17,11,18
291,291,NaN,Sacramento Kings,2020,NaN,20,19,23,17,10,...,21,19,19,25,13,16,21,19,7,26
292,292,NaN,San Antonio Spurs,2020,NaN,29,6,13,8,26,...,20,11,25,15,17,1,29,23,4,13
293,293,NaN,Phoenix Suns,2020,NaN,12,15,24,11,20,...,16,16,20,9,21,22,17,24,9,25

In [16]:
# Check for missing values
print(chip.isna().sum())

Unnamed: 0       0
Tm               0
W                0
L                0
W/L%             0
PW               0
PL               0
ORtg             0
DRtg             0
NRtg             0
Pace             0
FTr              0
3PAr             0
TS%              0
Unnamed: 15    320
eFG%             0
TOV%             0
ORB%             0
FT/FGA           0
eFG%.1           0
TOV%.1           0
DRB%             0
FT/FGA.1         0
Year             0
dtype: int64

# Cleaning Dataset

In [17]:
# features that are going to be used in the model
predictors_chip = ['ORtg', 'DRtg', 'NRtg', 'Pace',
       'FTr', '3PAr', 'TS%', 'eFG%', 'TOV%', 'ORB%', 'FT/FGA', 'eFG%.1',
       'TOV%.1', 'DRB%', 'FT/FGA.1', 'Year']

# Split dataset

In [18]:
# splaitting the dataset
train = chip[~(chip["Year"] == 2022)]
test = chip[chip["Year"] == 2022]

In [41]:
print(train)

     Unnamed: 0                      Tm     W    L   W/L%  PW  PL   ORtg  \
0             0       San Antonio Spurs  16.0  8.0  0.667  17   7  103.7
1             1         New Jersey Nets  14.0  6.0  0.700  12   8  102.6
2             2        Sacramento Kings   7.0  5.0  0.583   7   5  112.0
3             3  Portland Trail Blazers   3.0  4.0  0.429   4   3  115.2
4             4         Detroit Pistons   8.0  9.0  0.471   9   8  102.7
..          ...                     ...   ...  ...    ...  ..  ..    ...
283          11        Dallas Mavericks   2.0  4.0  0.333   1   5  112.7
284          12  Portland Trail Blazers   1.0  4.0  0.200   1   4  104.6
285          13          Indiana Pacers   0.0  4.0  0.000   1   3  104.2
286          14      Philadelphia 76ers   0.0  4.0  0.000   1   3  105.5
287          15           Brooklyn Nets   0.0  4.0  0.000   0   4  102.2

      DRtg  NRtg  ...  Unnamed: 15   eFG%  TOV%  ORB%  FT/FGA  eFG%.1  TOV%.1  \
0     97.7   6.0  ...          NaN  0.476  14.4  28.6   0.284   0.439    14.0
1     98.9   3.7  ...          NaN  0.453  14.1  30.9   0.256   0.464    14.8
2    109.6   2.4  ...          NaN  0.499  12.0  29.3   0.265   0.495    12.7
3    114.1   1.1  ...          NaN  0.501  13.0  36.3   0.280   0.507    11.1
4    101.7   1.0  ...          NaN  0.455  13.3  25.5   0.308   0.459    14.8
..     ...   ...  ...          ...    ...   ...   ...     ...     ...     ...
283  122.0  -9.3  ...          NaN  0.549  11.2  16.9   0.215   0.579    10.5
284  115.0 -10.4  ...          NaN  0.492  13.9  21.4   0.224   0.552    13.0
285  115.1 -10.9  ...          NaN  0.530  14.6  13.7   0.196   0.545    13.2
286  117.9 -12.4  ...          NaN  0.443  10.9  26.8   0.310   0.523     9.7
287  122.0 -19.8  ...          NaN  0.482  12.4  18.1   0.195   0.592    10.6

     DRB%  FT/FGA.1  Year
0    73.4     0.216  2003
1    76.7     0.252  2003
2    70.7     0.216  2003
3    72.7     0.228  2003
4    70.6     0.253  2003
..    ...       ...   ...
283  80.4     0.248  2020
284  72.7     0.222  2020
285  76.9     0.288  2020
286  77.6     0.255  2020
287  79.1     0.203  2020

[288 rows x 24 columns]

In [42]:
print(test)

     Unnamed: 0                      Tm     W    L   W/L%  PW  PL   ORtg  \
288           0      Philadelphia 76ers   7.0  5.0  0.583   9   3  116.0
289           1           Brooklyn Nets   7.0  5.0  0.583   8   4  116.1
290           2         Milwaukee Bucks  16.0  7.0  0.696  15   8  112.9
291           3            Phoenix Suns  14.0  8.0  0.636  14   8  114.7
292           4    Los Angeles Clippers  10.0  9.0  0.526  12   7  120.2
293           5               Utah Jazz   6.0  5.0  0.545   5   6  121.4
294           6  Portland Trail Blazers   2.0  4.0  0.333   3   3  121.6
295           7           Atlanta Hawks  10.0  8.0  0.556   8  10  109.8
296           8        Dallas Mavericks   3.0  4.0  0.429   2   5  115.5
297           9          Denver Nuggets   4.0  6.0  0.400   3   7  116.8
298          10      Los Angeles Lakers   2.0  4.0  0.333   2   4  104.0
299          11         New York Knicks   1.0  4.0  0.200   1   4  103.5
300          12       Memphis Grizzlies   1.0  4.0  0.200   1   4  115.6
301          13          Boston Celtics   1.0  4.0  0.200   1   4  117.1
302          14      Washington Wizards   1.0  4.0  0.200   1   4  107.6
303          15              Miami Heat   0.0  4.0  0.000   0   4   96.6

      DRtg  NRtg  ...  Unnamed: 15   eFG%  TOV%  ORB%  FT/FGA  eFG%.1  TOV%.1  \
288  108.5   7.5  ...          NaN  0.561  11.5  21.3   0.234   0.502    11.2
289  109.6   6.5  ...          NaN  0.551  10.9  19.7   0.204   0.502    11.6
290  107.6   5.3  ...          NaN  0.524  11.3  27.8   0.164   0.523    12.2
291  110.0   4.7  ...          NaN  0.547  11.3  19.6   0.188   0.507    10.9
292  115.9   4.3  ...          NaN  0.562  10.4  21.5   0.238   0.543    11.1
293  122.3  -0.9  ...          NaN  0.579  12.4  23.7   0.231   0.562     9.6
294  122.9  -1.3  ...          NaN  0.567  10.7  22.2   0.219   0.555     9.9
295  111.3  -1.5  ...          NaN  0.516  11.5  20.9   0.192   0.520    11.6
296  121.1  -5.6  ...          NaN  0.534  10.4  23.7   0.164   0.571    10.9
297  122.4  -5.6  ...          NaN  0.536   9.9  25.1   0.172   0.576    10.6
298  110.9  -6.9  ...          NaN  0.473  12.9  23.7   0.229   0.530    12.1
299  111.0  -7.5  ...          NaN  0.458  11.3  24.6   0.206   0.519    10.4
300  124.0  -8.4  ...          NaN  0.523   9.1  23.8   0.172   0.586    12.2
301  128.7 -11.6  ...          NaN  0.508  11.5  28.8   0.256   0.582    10.6
302  121.3 -13.7  ...          NaN  0.498  11.7  23.1   0.246   0.575    10.3
303  116.8 -20.2  ...          NaN  0.462  12.5  17.1   0.174   0.538    12.6

     DRB%  FT/FGA.1  Year
288  78.8     0.235  2021
289  75.0     0.190  2021
290  81.6     0.160  2021
291  76.1     0.194  2021
292  76.9     0.173  2021
293  76.7     0.208  2021
294  73.5     0.216  2021
295  75.0     0.197  2021
296  77.4     0.246  2021
297  79.6     0.223  2021
298  80.3     0.212  2021
299  81.2     0.189  2021
300  75.4     0.257  2021
301  73.5     0.296  2021
302  77.4     0.234  2021
303  68.6     0.177  2021

[16 rows x 24 columns]

# Model fitting [base]

In [20]:
# Model Selection
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [21]:
# model fitting
reg.fit(train[predictors_chip],train["W"])

Ridge(alpha=0.1)

In [22]:
preds = reg.predict(test[predictors_chip])
preds = pd.DataFrame(preds, columns=["preds"], index=test.index)

In [23]:
pred_table = pd.concat([test[["Tm", "W"]], preds], axis=1)
pred_table.sort_values("preds", ascending=False).head(10)

                        Tm     W     preds
304  Golden State Warriors  16.0  9.824075
306         Boston Celtics  14.0  9.280096
305             Miami Heat  11.0  9.010231
307      Memphis Grizzlies   6.0  8.059417
309       Dallas Mavericks   9.0  7.653518
310     Philadelphia 76ers   6.0  7.637720
308        Milwaukee Bucks   7.0  7.510787
312   New Orleans Pelicans   2.0  6.573284
311           Phoenix Suns   7.0  6.521817
313          Brooklyn Nets   0.0  5.437908

In [24]:
pred_table["W"].value_counts()

2.0     4
1.0     3
6.0     2
7.0     2
16.0    1
11.0    1
14.0    1
9.0     1
0.0     1
Name: W, dtype: int64

In [25]:
actual = pred_table.sort_values("W", ascending=False)
predicted = pred_table.sort_values("preds", ascending=False)
actual["Rk"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rk"] = list(range(1,predicted.shape[0]+1))

In [26]:
actual.merge(predicted, on="Tm").head(5)

                      Tm   W_x   preds_x  Rk   W_y   preds_y  Predicted_Rk
0  Golden State Warriors  16.0  9.824075   1  16.0  9.824075             1
1         Boston Celtics  14.0  9.280096   2  14.0  9.280096             2
2             Miami Heat  11.0  9.010231   3  11.0  9.010231             3
3       Dallas Mavericks   9.0  7.653518   4   9.0  7.653518             5
4        Milwaukee Bucks   7.0  7.510787   5   7.0  7.510787             7

In [27]:
aps = []
all_predictions = []
for year in years[5:]:
    train = chip[chip["Year"] < year]
    test = chip[chip["Year"] == year]
    reg.fit(train[predictors_chip],train["W"])
    predictions = reg.predict(test[predictors_chip])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    pred_table = pd.concat([test[["Tm", "W", "Year"]], predictions], axis=1)
    all_predictions.append(pred_table)

In [28]:
def add_ranks(predictions):
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rk"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("W", ascending=False)
    predictions["Rk"] = list(range(1,predictions.shape[0]+1))
    predictions["Diff"] = (predictions["Rk"] - predictions["Predicted_Rk"])
    return predictions

In [29]:
add_ranks(all_predictions[12])

                         Tm     W  Year  predictions  Predicted_Rk  Rk  Diff
272      Los Angeles Lakers  16.0  2020    10.829034             1   1     0
277              Miami Heat  14.0  2020     8.387777             6   2    -4
273          Boston Celtics  10.0  2020     9.190093             4   3    -1
280          Denver Nuggets   9.0  2020     6.154747             9   4    -5
274    Los Angeles Clippers   7.0  2020     9.202400             3   5     2
275         Toronto Raptors   7.0  2020     8.936947             5   6     1
279         Houston Rockets   5.0  2020     7.946897             7   7     0
278         Milwaukee Bucks   5.0  2020     7.547609             8   8     0
276               Utah Jazz   3.0  2020     9.976123             2   9     7
281   Oklahoma City Thunder   3.0  2020     4.157544            10  10     0
283        Dallas Mavericks   2.0  2020     1.699920            12  11    -1
282           Orlando Magic   1.0  2020     2.664792            11  12     1
284  Portland Trail Blazers   1.0  2020     1.010960            14  13    -1
285          Indiana Pacers   0.0  2020     1.427640            13  14     1
286      Philadelphia 76ers   0.0  2020    -0.459592            15  15     0
287           Brooklyn Nets   0.0  2020    -3.703125            16  16     0

In [30]:
def find_ap(pred_table):
    actual = pred_table.sort_values("W", ascending=False).head(5)
    predicted = pred_table.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Tm"] in actual["Tm"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [31]:
find_ap(pred_table)

0.7683333333333333

In [32]:
aps = []
all_predictions = []
for year in years[5:]:
    train = chip[chip["Year"] < year]
    test = chip[chip["Year"] == year]
    reg.fit(train[predictors_chip],train["W"])
    predictions = reg.predict(test[predictors_chip])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    pred_table = pd.concat([test[["Tm", "W"]], predictions], axis=1)
    all_predictions.append(pred_table)
    aps.append(find_ap(pred_table))

In [33]:
sum(aps) / len(aps)

0.8254365079365078

In [34]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = chip[chip["Year"] < year]
        test = chip[chip["Year"] == year]
        reg.fit(train[predictors_chip],train["W"])
        predictions = reg.predict(test[predictors_chip])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        pred_table = pd.concat([test[["Tm", "W"]], predictions], axis=1)
        pred_table = add_ranks(pred_table)
        all_predictions.append(pred_table)
        aps.append(find_ap(pred_table))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [35]:
mean_ap, aps, all_predictions = backtest(chip, reg, years[5:], predictors_chip)

In [36]:
mean_ap

0.8318650793650793

In [37]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(50)

                         Tm     W  predictions  Predicted_Rk  Rk  Diff
247     Cleveland Cavaliers  12.0     6.125877             8   2    -6
232          Boston Celtics   9.0     5.306967             9   3    -6
200         Houston Rockets   9.0     3.713807             9   3    -6
280          Denver Nuggets   9.0     6.154747             9   4    -5
217         Toronto Raptors  10.0     4.044061             9   4    -5
183   Oklahoma City Thunder  10.0     5.725701             8   4    -4
277              Miami Heat  14.0     8.387777             6   2    -4
263  Portland Trail Blazers   8.0     4.969873             8   4    -4
198           Atlanta Hawks   8.0     5.458555             8   4    -4
295           Atlanta Hawks  10.0     5.660919             8   4    -4
114      Los Angeles Lakers  16.0     8.308730             5   1    -4
167          Indiana Pacers  11.0     7.011233             6   3    -3
291            Phoenix Suns  14.0     8.904941             5   2    -3
290         Milwaukee Bucks  16.0     9.474673             4   1    -3
211   Golden State Warriors  15.0     8.223342             5   2    -3
84       Los Angeles Lakers  14.0     7.920627             5   2    -3
87        San Antonio Spurs   9.0     7.342875             7   4    -3
132   Oklahoma City Thunder   9.0     7.544729             6   4    -2
98       Los Angeles Lakers  16.0    11.257165             3   1    -2
148          Boston Celtics  11.0     7.875748             5   3    -2
193     Cleveland Cavaliers  14.0     7.589617             4   2    -2
99            Orlando Magic  13.0     8.506747             4   2    -2
244          Boston Celtics  11.0     7.087961             6   4    -2
258   Golden State Warriors  14.0     8.306053             4   2    -2
243         Houston Rockets  11.0     7.690598             4   3    -1
182          Indiana Pacers  10.0     7.064630             4   3    -1
209     Cleveland Cavaliers  16.0    12.152033             2   1    -1
165       Memphis Grizzlies   8.0     7.159919             5   4    -1
146   Oklahoma City Thunder  13.0     8.906543             3   2    -1
273          Boston Celtics  10.0     9.190093             4   3    -1
130              Miami Heat  14.0     9.383082             3   2    -1
257         Toronto Raptors  16.0     9.223784             2   1    -1
272      Los Angeles Lakers  16.0    10.829034             1   1     0
82          Detroit Pistons  10.0     9.163074             3   3     0
240   Golden State Warriors  16.0    12.031421             1   1     0
225     Cleveland Cavaliers  13.0    11.564649             2   2     0
80           Boston Celtics  16.0    10.855555             1   1     0
210   Oklahoma City Thunder  11.0     9.286703             3   3     0
115          Boston Celtics  15.0     9.297778             2   2     0
192   Golden State Warriors  16.0    10.045831             1   1     0
292    Los Angeles Clippers  10.0     9.594752             3   3     0
178              Miami Heat  13.0     9.503070             2   2     0
176       San Antonio Spurs  16.0    12.524604             1   1     0
224   Golden State Warriors  16.0    13.495152             1   1     0
160       San Antonio Spurs  15.0    11.085492             2   2     0
161              Miami Heat  16.0    11.290968             1   1     0
128        Dallas Mavericks  16.0    10.673339             1   1     0
144              Miami Heat  16.0    11.387345             1   1     0
227       San Antonio Spurs   8.0     7.902231             3   4     1
113            Phoenix Suns  10.0     9.068258             3   4     1

In [38]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors_chip)], axis=1).sort_values(0, ascending=False)

           0         1
7   3.877519      eFG%
6   3.334832       TS%
4   2.088898       FTr
5   1.311614      3PAr
10  0.674059    FT/FGA
2   0.319757      NRtg
12  0.188865    TOV%.1
0   0.178777      ORtg
8   0.125198      TOV%
13  0.044826      DRB%
15  0.003328      Year
9  -0.003585      ORB%
3  -0.085823      Pace
1  -0.140980      DRtg
11 -1.645295    eFG%.1
14 -7.004077  FT/FGA.1

In [47]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(chip, rf, years[5:], predictors_chip)

In [48]:
mean_ap

0.8318650793650793